<div class="container-fluid">
    <div class="row row-cols-auto mt-2">
        <ng-container *ngFor="let product of products">
            <div class="col-md-3">
                <a [routerLink]="[product.id]" class="text-decoration-none">
                    <div class="card">
                        <img [alt]="product.title" [src]="product.image"
                             class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>

