<div class="container-fluid">
    <div class="row row-cols-auto mt-2">
        <div class="col-md">
            <a [routerLink]="['/products', 1]" class="text-decoration-none">
                <div class="card">
                    <img [src]="placeholder" alt="..."
                         class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a [routerLink]="['/products', 2]" class="text-decoration-none">
                <div class="card">
                    <img [src]="placeholder" alt="..."
                         class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a [routerLink]="['/products', 3]" class="text-decoration-none">
                <div class="card">
                    <img [src]="placeholder" alt="..."
                         class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a [routerLink]="['/products', 3]" class="text-decoration-none">
                <div class="card">
                    <img [src]="placeholder" alt="..."
                         class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

